/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*code projet----------------------------------------------*/
body{
	margin: 0;
	padding: 0;
	font-size: 100%;
  font-family:"Lucida Grande", sans-serif;
}

input{
    background-color:#aaaaaa;
    color:black;
    border: 1px solid #aaaaaa;
    border-radius:5px;
}

section{
  position:relative;
  width:100%;
  height:100vh;
}

/*header--------------------------------------------------*/
::-moz-selection {
  background-color: #e44646;
  color: #ffffff;
}

::selection {
  background-color: #e44646;
  color: #ffffff;
}

::-moz-selection {
  background-color: #e44646;
  color: #ffffff;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

.menu-flex {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Poiret One', sans-serif;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  z-index: 200;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

.logo-menu {
  display: inline-block;
  margin-right: 1em;
}

.title-logo-menu {
  color: #ffffff;
  font: normal 2em 'Dancing Script', sans-serif;
  text-shadow: 1px 1px 5px #000000;
  transition: 0.3s ease all;
}

.title-logo-menu:hover,
.title-logo-menu:focus,
.title-logo-menu:active {
  -webkit-background-clip: text;
  background-image: linear-gradient(
                      #ffffff 50%,
                      #ffffff 100%
                    );
  text-shadow: 0 0 15px #ffffff;
}

.btn-menu {
  color: #ffffff;
  display: none;
  font-size: 1.5em;
  text-shadow: 1px 1px 5px #000000;
}

.links {
  display: inline-block;
  font-weight: bold;
  text-align: right;
}

.links-menu:before {
  content: '';
  height: 0;
  left: 100%;
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  width: 100%;
  z-index: -1;
}

.links-menu {
  color: #ffffff;
  display: inline-block;
  font-size: 1em;
  padding: 1em;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 5px #000000;
}

.links-menu:hover:before,
.links-menu:focus:before,
.links-menu:active:before {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
}

.links-menu-active:before {
  content: none;
}

.links-menu-active {
    background-color: rgba(0, 0, 0, 0.7);
}

.icons-menu {
  margin-right: 5px;
}

.first-section:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ctn-title {
  color: #ffffff;
  font: bold 2em 'Dancing Script', sans-serif;
  left: 50%;
  letter-spacing: 5px;
  position: absolute;
  text-shadow: 1px 1px 10px #000000;
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (max-width: 900px) {
  .menu {
    flex-direction: column;
  }

  .logo-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
    width: 100%;
  }

  .title-logo-menu {
    font-size: 1.5em;
  }

  .btn-menu {
    display: block;
  }

  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .links-menu {
    margin: 10px;
  }
}

@media screen and (max-width: 700px) {
  .ctn-title {
    font-size: 20px;
    text-align: center;
  }
}

/*présentation-------------------------------------------*/
#presentation{
    clear:both;
    background-color: #303030;
    color:white;
    font-weight: bold;
}
.container{
  width: 80%;
	min-width: 600px;
  margin: auto;
}
#presentation {
  min-height: 90vh;
  background: url('images/siege_apple.png');
  background-size: cover;
  color: #eee;
  /*margin: 0;*/
}
#intro{padding-top: 7%;}
#visibility_pres {
	margin-right: 45%;
	background-color: rgba(0, 0, 0, 0.80);
	border-radius: 20px;
}
#intro p{
	font-size: 14px;
	padding: 1%;
}


/*iphone-------------------------------------------------*/
#iPhone{
    background-color: #eeeeee;
}

.image-iPhone{
    max-width:400px;
    width:100%;
}

#iPhonexr{
    max-width:300px;
}

caption{
		color: black;
    caption-side:top;
    padding-bottom:20px;
}

table{
    margin:auto;
    border-collapse: collapse;
}

td, th{
    border-bottom:1px solid #aaaaaa;
    padding:10px;
    text-align:center;
}

th {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

#contenu-iPhone{
    text-align:justify;
    width:100%;
    position:absolute;
    padding-top:70px;
}

#avis{
  padding:20px 60px 0px 60px;
}

#button_iPhone{
  display:block;
  margin-top:20px;
  margin-left:950px;
}

.a-cacher{
  display:none;
}

/*macbook------------------------------------------------*/
#macbook{
    background-color: #303030;
    color: white;
    height:825px;
}

.image-macbook{
    max-width:800px;
    width: 100%;
}
#macbookair{
    margin-top: -100px;
}
#title_macbookair  {
    font-size: 25px;
    margin-left: 100px;
    margin-top: -150px;
}
.liste_macbookair{
    margin-left: 100px;
}


#macbookpro{
   margin-left: 550px;
   margin-top: -120px;
}

#title_macbookpro  {
    font-size: 25px;
    margin-left: 1100px;
    margin-top: -300px;
}

.liste_macbookpro{
    margin-left: 1100px;
}

#bouton_macbook{
    margin-top: 230px;
    display:block;
    margin-left:680px;
}

/*ipad---------------------------------------------------*/
#ipad{
    background-color: #eeeeee;
		box-sizing: border-box; /*reset*/
}
/* Slider iPad ---------------------------------------- */
/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

.panel .content {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    color: #FFF;
}
#ipad17{
	color: #000;
}
#ipad17 h2 {
	font-weight: bold;
	font-size: 35px;
	padding-bottom: 1%;
}
#ipad18 h2 {
	font-weight: bold;
	font-size: 35px;
	padding-bottom: 1%;
}
.panel .description {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.panel img {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    background-color: #eee;
		color : black;
    z-index: 1;
}

.bottom .description {
    right: 5%;
}

.top {
    background-color: #303030;
    z-index: 2;
    width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

.top .description {
    left: 5%;
}

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 900px) {
    body {
        font-size: 75%;
    }
}

/*footer-------------------------------------------------*/
